version: '3.8'

services:
  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://periodistico-server.database.windows.net:1433;databaseName=DB_CorePeriodistico;encrypt=true;trustServerCertificate=false;
      SPRING_DATASOURCE_USERNAME: sqladmin
      SPRING_DATASOURCE_PASSWORD: "Ingenieri@2025LP"
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.SQLServerDialect
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      ALLOWED_ORIGINS: "https://frontend.purpleground-40845a42.westus2.azurecontainerapps.io,http://localhost:4200"

  article-service:
    build: ./article-service
    container_name: article-service
    ports:
      - "8082:8082"
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://periodistico-server.database.windows.net:1433;databaseName=DB_CorePeriodistico;encrypt=true;trustServerCertificate=false;
      SPRING_DATASOURCE_USERNAME: sqladmin
      SPRING_DATASOURCE_PASSWORD: "Ingenieri@2025LP"
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.SQLServerDialect
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      ALLOWED_ORIGINS: "https://frontend.purpleground-40845a42.westus2.azurecontainerapps.io,http://localhost:4200"

  suggestion-service:
    build: ./suggestion-service
    container_name: suggestion-service
    ports:
      - "8083:8083"
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://periodistico-server.database.windows.net:1433;databaseName=DB_CorePeriodistico;encrypt=true;trustServerCertificate=false;
      SPRING_DATASOURCE_USERNAME: sqladmin
      SPRING_DATASOURCE_PASSWORD: "Ingenieri@2025LP"
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.SQLServerDialect
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
      ALLOWED_ORIGINS: "https://frontend.purpleground-40845a42.westus2.azurecontainerapps.io,http://localhost:4200"
      GOOGLE_GEMINI_API_KEY: "AIzaSyBpwp_BDQIYaZAW0gMKypDYC_RQYq7P-k4"

  frontend:
    build: ./portal-periodistico-frontend
    container_name: frontend-angular
    ports:
      - "4200:80"